<%= render 'shared/content_title', title: @project.name %>

<h5><%= @project.description %></h5>


<%= link_to "Edit", edit_project_path(@project), class: 'btn' %>
<%= link_to "Delete", project_path(@project), method: 'delete', class: 'btn' %>


<h3>Tickets:</h3>

<%= render 'tickets/tickets_list', tickets: @project.tickets %>