<%= render 'shared/content_title', title: @project.name %>

<h5><%= @project.description %></h5>


<%= link_to "Edit", edit_project_path(@project), class: 'btn' %>
<%= link_to "Delete", project_path(@project), method: 'delete', class: 'btn' %>


<h3>Tickets:</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Assignee</th>
      <th>Status</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project.tickets.each do |ticket| %>
      <tr>
        <td><h2><%= link_to ticket.name, ticket_path(ticket) %></h2></td>
        <td><%= ticket.assignee ? ticket.assignee.name : '-' %></td>
        <td><%= ticket.status %></td>
        <td>
          <%= tag_list(ticket) %>
        </td>
        <td>
          <%= link_to "Edit", edit_ticket_path(ticket) %>
          <%= link_to "Delete", ticket_path(ticket), method: 'delete' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>